body {
	font-family: "Helvetica Neue";
	font-size: 100%;
	margin: 0;
}
a,
p,
h1,
div {
  transition: all ease-in-out 0.15s;
  -moz-transition: all ease-in-out 0.15s;
  -webkit-transition: all ease-in-out 0.15s;
  text-decoration:none;
  outline: none;
}
#container {
	margin: 0;
	width: 100%;
}
#header {
	width: 100%;
}
#content {
}
h1 {
	margin: 0.1em 0.3em 0;
	font-size: 6em;
	float: left;
}
h1 a {
	text-decoration: none;
	color: #696969;
	text-shadow: 10px 2px 2px #6374AB;
}
h1 a:hover {
	text-shadow: 1px 1px 1px #000;
}
hr {
	margin: 0;
	clear: both;
}
p {

}
.stuff {

}
.stuff p {
	margin: 1em 18em;
}
.navic {
	padding: 2.8em 0 0 0;
	font-size: 1.5em;
}
.navi {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.navi li {
	margin: 0 3%;
	float: left;
}
.navi li a {
	color: #524DFF;
	margin: 0;
	text-decoration: none;
	text-shadow: 0 0 1px #524DFF;
}
.navi a:hover {
	text-shadow: 0 0 1px #FFF;
}

.contactc {
	display: block;
	margin: 0;
	padding: 0 2.2em;
	border-right: 1px solid grey;
	float: left;
}
.contactc h3 {
	color: #524DFF;
	font-weight: normal;
	margin: 0.8em 0;
}
.contact {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.contact li {
	margin: 0.8em 0;
}
.contact li a {
	color: #524DFF;
	margin: 0;
	text-decoration: none;
	text-shadow: 0 0 1px #524DFF;
}
.contact a:hover {
	text-shadow: 0 0 1px #FFF;
}


@media screen and (max-width: 1023px) {

}


@media screen and (max-width: 767px) {
	
}




