<style type="text/css">
/* <![CDATA[ */
body{
	background: black;
}
body { background: blue; }
.hidden {
	 visibility:hidden;
	 width:0px;
	 height:0px;
	 margin:0px;
	 padding:0px;
	 border-style:none;
	 border-width:0px;
	 max-width:0px;
	 max-height:0px;
}
#msg {
 	width:20em;
 	height:24em;
 	margin:.5em 0 .5em 0;
 	padding:.5em;
 	background-color:#eee;
 	border:solid 1px #888;
 	white-space:pre;
 	font-family:Courier New, monospace;
 	font-size:.75em;
 	overflow:auto;
}
#Jazz1 {
	display: none;
}

/* ]]> */
</style>